DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rutero?schema=public"
NEXTAUTH_SECRET="cambia-este-secreto"
NEXTAUTH_URL="https://rutero.mooo.com"
NEXT_PUBLIC_APP_URL="https://rutero.mooo.com"
COOKIE_SECURE="false"
